# Virtual Environment
content_rec/

# Data files
data/

# Trained models
models/

# Python cache
src/__pycache__/
*.pyc

# OS-specific
.DS_Store

# Environment variables
.env
roadmap.txt
@roadmap.txt
model_output.txt
error.txt
src/fetch
tutor.md