streamlit
pandas
xgboost
tmdbv3api
omdb
scikit-learn
plotly
tqdm
numpy
python-dotenv
joblib
statsmodels
google-api-python-client
isodate
matplotlib
seaborn
vaderSentiment
sentence-transformers
catboost
spotipy
lyricsgenius
yt-dlp
transformers
librosa
soundfile

#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
pip install  